<div class="p-grid p-justify-center">
  <div class="p-col-fixed">
    <p-card header="Estimate EMI" subheader="Equated Monthly Installment" [style]="{width: '700px'}" styleClass="ui-card-shadow">
      <!-- <p-header>
        Header
      </p-header> -->
      <div>An equated monthly installment (EMI) is a fixed payment amount made by a borrower to a lender at
         a specified date each calendar month. Equated monthly installments are used to
          pay off both interest and principal each month so that over a specified number of years,
           the loan is paid off in full.</div>


          <div class="p-grid p-justify space">
            <div class="p-col-2 p-offset-2">
                <label for="amount">Loan Amount:</label>
            </div>
            <div class="p-col-fixed ui-inputgroup">
              <input pInputText id="amount" placeholder="Dollars" [pKeyFilter]="numberRegex" [(ngModel)]="loanAmount" />
              <span class="ui-inputgroup-addon">$</span>
            </div>
          </div>

          <div class="p-grid p-justify space">
            <div class="p-col-2 p-offset-2">
              <label for="interest">Interest Rate:</label>
            </div>
            <div class="p-col-fixed ui-inputgroup">
              <input pInputText id="interest" placeholder="Percent" [pKeyFilter]="numberRegex" [(ngModel)]="interestRate" />
              <span class="ui-inputgroup-addon">%</span>
            </div>
          </div>

          <div class="p-grid p-justify space">
            <div class="p-col-2 p-offset-2">
              <label for="time">Loan Time:</label>
            </div>
            <div class="p-col-fixed ui-inputgroup">
              <input pInputText id="time" placeholder="Months" [pKeyFilter]="numberRegex" [(ngModel)]="loanTime" />
              <span class="ui-inputgroup-addon"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>              </div>
          </div>

          <hr>

          <div class="p-grid p-justify space">
            <div class="p-col-2 p-offset-2">
              <label for="emi">EMI Value:</label>
            </div>
            <div class="p-col-fixed ui-inputgroup">
              <input pInputText id="emi" placeholder="Estimated EMI value" disabled="true" [(ngModel)]="emi" />
              <span class="ui-inputgroup-addon">$</span>
            </div>
          </div>

      <p-footer >
        <div class="center">
          <button pButton type="button" label="Estimate" icon="pi pi-chart-line" style="margin-right: .25em"></button>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>
